@using AvansFysioAppDomain.Domain
@model Patient

<div class="form-group">
    <table style="width: 100%">
        <tr>
            <th><h3>Patient:</h3></th>
            <td><a asp-action="EditPatientView" asp-route-id="@Model.PatientId">Edit Patient</a></td>
        </tr>
        <tr>
            <th>Name:</th>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <th>Email:</th>
            <td>@Model.Email</td>
        </tr>
        <tr>
            <th>Telephone:</th>
            <td>@Model.Phone</td>
        </tr>
        <tr>
            <th>Occupation:</th>
            <td>@Model.Occupation</td>
        </tr>
        <tr>
            <th>Student or worker ID:</th>
            <td>@Model.OccupationId</td>
        </tr>
        <tr>
            <th>Birthday:</th>
            <td>@Model.Birthday.Value.ToShortDateString()</td>
        </tr>
        <tr>
            <th>Gender:</th>
            <td>@Model.Gender</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>


        @foreach (PatientFile pf in ViewBag.PatientFile)
        {
            @if (pf != null)
            {
                <tr>
                    <th><h3>Patient file:</h3></th>
                    <td><a asp-action="UpdateFileView" asp-route-id="@pf.Id">Edit patient file</a></td>
                </tr>
                <tr>
                    <th>Patient:</th>
                    <td>@pf.Patient.Name</td>
                </tr>
                <tr>
                    <th>Age:</th>
                    <td>@pf.Age</td>
                </tr>
                <tr>
                    <th>Description complaints:</th>
                    <td>@pf.DescriptionComplaintsGlobal</td>
                </tr>
                <tr>
                    <th>Diagnosis number:</th>
                    <td>@pf.DiagnosisNumber</td>
                </tr>
                <tr>
                    <th>Intake by:</th>
                    <td>@pf.IntakeBy.Name</td>
                </tr>
                <tr>
                    <th>Head Supervision by:</th>
                    <td>@pf.SupervisionBy.Name</td>
                </tr>
                <tr>
                    <th>Head practitioner:</th>
                    <td>@pf.HeadPractitioner.Name</td>
                </tr>
                <tr>
                    <th>Date of register:</th>
                    <td>@pf.DateOfRegister.ToShortDateString()</td>
                </tr>
                <tr>
                    <th>End date:</th>
                    <td>@pf.DateOfEnd.ToShortDateString()</td>
                </tr>
                <tr>
                    <th>Remark:</th>
                    <td>@pf.Remark</td>
                </tr>
                <tr>
                    <th>Treatment plan:</th>
                    <td>@pf.TreatmentPlan</td>
                </tr>
                <tr>
                    <th>Treatments:</th>
                    <td>@pf.Treatments</td>
                </tr>
            }
            @if (pf == null)
            {
                <tr>
                    <td><a asp-action="AddFileView">Add to a patient file</a></td>
                </tr>
                
            }
        }
    </table>
</div>

<br />
<br />

<div>
    <a asp-action="PatientList">Back to List</a>
</div>

