@using AvansFysioAppDomain.Domain
@model IEnumerable<AvansFysioAppDomain.Domain.Patient>
<div class="text-center p-2">
    <h2>Here is the list of patients</h2>
    <div style="float: right">
    </div>
    <table class="table table-bordered table-striped table-sm">
        <thead>
        <tr><th>Name</th><th>Email</th><th>Phone number</th><th>Occupation</th><th>Student or worker ID</th><th>Birthday</th><th>Gender</th><th><a asp-action="AddPatientView">Add Patient</a></th></tr>
        </thead>
        <tbody>
        @foreach (Patient p in Model)
        {
            <tr>
                <td>@p.Name</td>
                <td>@p.Email</td>
                <td>@p.Phone</td>
                <td>@p.Occupation</td>
                <td>@p.OccupationId</td>
                <td>@p.Birthday.Value.ToShortDateString()</td>
                <td>@p.Gender</td>
                <td><a asp-action="EditPatientView" asp-route-id="@p.PatientId">Edit</a> | <a asp-action="DetailView" asp-route-id="@p.PatientId">Details</a></td>
            </tr>
        }
        </tbody>
    </table>
</div>