@using AvansFysioAppDomain.Domain
@using Castle.Core.Internal
@using AvansFysioApp.ExtentionMethods
@using Microsoft.AspNetCore.Identity
@model PatientDisplayViewModel
@{
    PatientFile pf = ViewBag.PatientFile;
    List<Remark> remarks = ViewBag.Remarks;
    TreatmentPlan treatmentPlan = ViewBag.Tp;
    List<Session> sessions = ViewBag.AppointmentList;
    var allSession = sessions.Where(a => a.PatientId == Model.PatientId && a.AppointmentEnd > DateTime.Now).ToList();
    allSession.Sort((x, y) => x.AppointmentBegin.CompareTo(y.AppointmentBegin));
    List<Treatment> treatments = ViewBag.Treatments;
}
@inject UserManager<IdentityUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);

    bool IsPatient()
    {
        try
        {
            foreach (Patient p in ViewBag.Pat)
            {
                if (p.Email.Equals(user.Email))
                {
                    return true;
                }
            }
            return false;
        }
        catch
        {
            return false;
        }
    }
}


<div>
<h1>Details @Model.Name</h1>
<div class="textBlocks2">

    <table style="width: 69%; float: right">
        <tr>
            <th>
                <h3>Patient:</h3>
            </th>
            @if (!IsPatient())
            {
                <td><a asp-controller="Patient" asp-action="EditPatientView" asp-route-id="@Model.PatientId">Edit Patient</a></td>
            }
        </tr>
        <tr>
            <th>Name:</th>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <th>Email:</th>
            <td>@Model.Email</td>
        </tr>
        <tr>
            <th>Telephone:</th>
            <td>@Model.Phone</td>
        </tr>
        <tr>
            <th>Occupation:</th>
            <td>@Model.Occupation</td>
        </tr>
        <tr>
            <th>ID:</th>
            <td>@Model.OccupationId</td>
        </tr>
        <tr>
            <th>Birthday:</th>
            <td>@Model.Birthday.Value.ToShortDateString()</td>
        </tr>
        <tr>
            <th>Gender:</th>
            <td>@Model.Gender</td>
        </tr>
    </table>

    <div style="width: 30%;">
        <img style="height: 230px; width:200px " src="data:@Model.PictureFormat;base64,@Model.Picture">
    </div>
</div>

<hr />
@if (pf != null)
{
    <h2>Patient file</h2>
}
<div class="textBlocks2">
    <table style="width: 100%">

        @if (pf != null)
        {
            <tr>
                <th>
                    @if (!IsPatient())
                    {
                        <a asp-controller="Patientfile" asp-action="UpdateFileView" asp-route-id="@pf.Id">Edit patient file</a>
                    }
                </th>
                <td></td>
            </tr>
            <tr>
                <th>Patient:</th>
                <td>@pf.Patient.Name</td>
            </tr>
            <tr>
                <th>Age:</th>
                <td>@pf.Age</td>
            </tr>
            <tr>
                <th>Description complaints:</th>
                <td>@pf.DescriptionComplaintsGlobal</td>
            </tr>
            <tr>
                <th>Diagnosis number:</th>
                <td>@pf.DiagnosisNumber
            </tr>
            <tr>
                <th>Diagnosis description:</th>
                <td>@pf.DiagnosisDescription</td>
            </tr>
            <tr>
                <th>Intake by:</th>
                <td>@pf.IntakeBy.Name</td>
            </tr>
            @if (@pf.SupervisionBy != null)
            {
                <tr>
                    <th>Head Supervision by:</th>
                    <td>@pf.SupervisionBy.Name</td>
                </tr>
            }
            <tr>
                <th>Head practitioner:</th>
                <td>@pf.HeadPractitioner.Name</td>
            </tr>
            <tr>
                <th>Date of register:</th>
                <td>@pf.DateOfRegister.ToShortDateString()</td>
            </tr>

            <tr>
                <th>End date:</th>

                @if (@pf.DateOfEnd != null)
                {
                    <td>@pf.DateOfEnd.Value.ToShortDateString()</td>
                }
                else
                {
                    <td>-</td>
                }
            </tr>
            @if (!treatments.IsNullOrEmpty())
            {
                @for (int i = 0; i < treatments.Count; i++)
                {
                    if (i == 0)
                    {
                        <tr>
                            <th>Treatments:</th>
                            <td>@treatments[i].Description</td>
                        </tr>
                        continue;
                    }
                    <tr>
                        <th></th>
                        <td>@treatments[i].Description</td>
                    </tr>
                }
                if (treatments.Count != 0)
                {
                    <tr>
                        <th></th>
                        <td><a asp-controller="Patientfile" asp-action="TreatmentView" asp-route-id="@pf.Id">View all treatments</a></td>
                    </tr>
                }
            }

            @if (!IsPatient())
            {
                <tr>
                    <th><a asp-controller="Home" asp-action="FindOperation" class="btn btn-primary">Add Treatment</a></th>
                </tr>
            }
        }
        <tr>
            <td>
                @if (pf == null)
                {
                    <p>
                        There is no patient file available. <br />
                    </p>

                    @if (!IsPatient())
                    {
                        <a asp-controller="Patientfile" asp-action="AddFileView">Add to a patient file</a>

                    }
                }
            </td>
        </tr>
    </table>
</div>


<hr />

@if (pf != null)
{
    <h2>Remarks</h2>

    if (!remarks.IsNullOrEmpty())
    {

        @foreach (Remark r in remarks)
        {
            @if ((IsPatient() && r.SeenByPatient) || !IsPatient())
            {
                <div class="textBlocks2">
                    <table style="width: 100%">
                        <tr>
                            <th>Note made by:</th>
                            <td>@r.RemarkMadeBy.Name</td>
                        </tr>
                        <tr>
                            <th>Remark:</th>
                            <td>@r.Note</td>
                        </tr>
                        <tr>
                            <th>Placed on:</th>
                            <td>@r.Date</td>
                        </tr>
                        <tr>
                            @if (!IsPatient())
                            {
                                <th>Can be seen by patient:</th>
                                <td>@r.SeenByPatient</td>
                            }
                        </tr>
                    </table>
                </div>
            }
        }
        @if (!IsPatient())
        {
            <div class="textBlocks2">
                <table style="width: 100%">
                    <tr>
                        <th>
                            <a asp-controller="Patientfile" asp-action="AddRemark">Add remark</a>
                        </th>
                    </tr>
                </table>
            </div>
        }

    }
    else
    {
        <div class="textBlocks2">
            There are no remarks available. <br />
            @if (!IsPatient())
            {
                <a asp-controller="Patientfile" asp-action="AddRemark">Add remark</a>
            }
        </div>
    }
    <hr />

}

@if (pf != null)
{
    <h2>Treatment plan</h2>

    if (treatmentPlan != null)
    {
        <div class="textBlocks2">
            <table width="100%">
                <tr>
                    <th>Title:</th>
                    <td>@treatmentPlan.Title</td>
                </tr>
                <tr>
                    <th>Duration:</th>
                    <td>@treatmentPlan.Duration minutes</td>
                </tr>
                <tr>
                    <th>Amount of sessions:</th>
                    <td>@treatmentPlan.MaxSessions sessions a week</td>
                </tr>
            </table>
        </div>
    }
    else
    {
        <div class="textBlocks2">
            There are no treatment plan available. <br />
            @if (!IsPatient())
            {
                <a asp-controller="Patientfile" asp-action="AddTreatmentPlan">Add treatment plan</a>
            }

        </div>
    }
    <hr />
}

@if (pf != null && treatmentPlan != null)
{
    <h2>Appointments</h2>
    @if (!allSession.Any())
    {
        <div class="textBlocks2">
            There are no appointments available. <br />
            <a asp-controller="Appointment" asp-action="AddSession">Add appointment</a>
        </div>
    }

    else
    {
        @foreach (Session a in allSession)
        {
            <div class="textBlocks2">
                <table width="100%">
                    <tr>
                        <th>Physiotherapist:</th>
                        <td>@a.HeadPhysiotherapist.Name</td>
                    </tr>
                    <tr>
                        <th>Start:</th>
                        <td>@a.AppointmentBegin</td>
                    </tr>
                    <tr>
                        <th>End:</th>
                        <td>@a.AppointmentEnd</td>
                    </tr>
                    @if (a.AppointmentBegin.AddHours(-24) >= DateTime.Now)
                    {
                        <tr>
                            <th></th>
                            <td><a asp-controller="Appointment" asp-action="EditSession" asp-route-id="@a.Id">Edit appointment</a> | <a asp-controller="Appointment" asp-action="DeleteSession" asp-route-returnUrl="Patient/DetailView/@pf.PatientId" asp-route-id="@a.Id">Delete appointment</a></td>
                        </tr>
                    }
                </table>
            </div>
        }
        <div class="textBlocks2">
            <a asp-controller="Appointment" asp-action="AddSession">Add appointment</a>
        </div>


    }
}
</div>





