@using AvansFysioAppDomain.Domain
@using Microsoft.AspNetCore.Identity
@model List<AvansFysioAppDomain.Domain.Session>
@{
    bool isPatient = ViewBag.IsPatient;
}

<h2>Appointments</h2>
@if(!isPatient){
    <form asp-controller="Appointment" asp-action="AppointmentList" method="get">
        <p>
            Day of appointment: <input type="date" name="date" />
            <input type="submit" value="Search" />
        </p>
    </form>
}

    @foreach (Session session in @Model)
    {
        <div class="textBlocks2">
            <table style="width: 100%">
                <tr>
                    <th>Patient name:</th>
                    <td>@session.Patient.Name</td>
                </tr>
                <tr>
                    <th>Physiotherapist:</th>
                    <td>@session.HeadPhysiotherapist.Name</td>
                </tr>
                <tr>
                    <th>Date:</th>
                    <td>@session.AppointmentBegin.ToString("dd-MM-yyyy")</td>
                </tr>
                <tr>
                    <th>Time:</th>
                    <td>@session.AppointmentBegin.ToString("HH:mm")-@session.AppointmentEnd.ToString("HH:mm")</td>
                </tr>
                @if (session.AppointmentBegin.AddHours(-24) >= DateTime.Now)
                {
                    <tr>
                        <th></th>
                        <td><a asp-controller="Appointment" asp-action="EditSession" asp-route-id="@session.Id">Edit appointment</a> | <a asp-controller="Appointment" asp-action="DeleteSession" asp-route-returnUrl="Appointment/AppointmentList" asp-route-id="@session.Id">Delete appointment</a></td>
                    </tr>
                }
            </table>
        </div>
    }
    <div class="textBlocks2">
        <a asp-controller="Appointment" asp-action="AddSession">Add appointment</a>
    </div>